/* bg-img */

.bg-img {
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.bg-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../img/CONTAINERIMAGES/City Banner.jpg');
  min-height: 80vh;
  background-position: 100% bottom;
}

.bg-img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../img/CONTAINERIMAGES/City Banner.jpg');
  background-position: top center;
}

.bg-img-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../img/CONTAINERIMAGES/Garage_PRE_Final 3.jpg');
}

.bg-img-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../img/CONTAINERIMAGES/MT_Medium_banner.jpg');
  background-size: contain;
}
