/* navbar */

header {
}

.nav-homepage-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--bgc);

  /* overflow-x: hidden; */
}

.nav-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}

.nav-homepage-logo {
  max-width: 15rem;
}

.nav-homepage-links {
  align-self: flex-end;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;

  list-style: none;
}

.nav-homepage-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-clr);

  transition: color 0.3s ease-in-out;
}

.nav-homepage-link:hover,
.social-link > i:hover {
  color: var(--blue-clr);
}

.nav-homepage-social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;

  list-style: none;
}

.social-link > i {
  color: var(--text-clr);
  transition: color 0.3s ease-in-out;
}

.hamburger {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.hamburger:hover,
.close-menu:hover {
  color: var(--blue-clr);
}

.close-menu {
  display: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .nav-homepage-logo {
    max-width: 8rem;
  }

  .nav-homepage-links {
    gap: 1rem;
  }

  .nav-homepage-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 1000px) {
  .nav-homepage-logo {
    max-width: 10rem;
  }

  .nav-homepage-links {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc);

    transform: translateX(800px);

    transition: transform 0.3s ease-in-out;
  }

  .show-nav {
    transform: translateX(0px);
  }

  .nav-homepage-link {
    font-size: 0.9rem;
  }

  .hamburger {
    display: block;
  }

  .close-menu {
    display: block;

    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 2rem;
  }
}
